@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
     font-size: 100%;
     background:linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%) ;
}

.Cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:24px;   
}

.Logo-imagens{
    height: 72px;
}

.menu-topo{
    display: flex;
    gap: 30px;
}
    li{
        display: inline-block;
    }
    
    a:hover{
        color: #2F2325;
        transition: 0.4s;
    }

 .menu-item{
    font-family: 'Sarala', sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 20px;
    
}
    .conteudo{
        margin-bottom:50px;
        border-top: 0.5px solid white ;
    }

    .conteudo-principal{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .t-s-b{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .titulo {
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 64px;
        color: #fff2e7;

    }

    .subtitulo{
        font-family:'Sarala', sans-serif;
        font-weight: 400;
        font-size: 25px;
        color: #ecd6c4;
    }

    .botao{
        background-color: #ecd6c4;
        width: 180px;
        height: 60px;
        border: none;
        box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
        border-radius: 20px;
        font-family:'Sarala', sans-serif;
        font-weight: 400;
        font-size: 20px;
    }

    .botao:hover{
        background-color: #D2B48C;
        transition: 0.4s;
    }

    .Robo{
        min-height: 450px;
    }

    .c-s{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin-top: 50px;
    }

    .segundario-titulo{
        border-top: 0.5px solid #fff2e7;
        padding-top: 50px;
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 25px;
        color: #fff2e7;
        margin-bottom: 16px;
    }

    .segundario-paragrafo{
        font-weight: 100;
        font-family:'Sarala', sans-serif;
        font-size: 15px;
        color: #fff2e7;


    }

    .rodpe{
        padding: 35px;
        border-top: 0.5px solid #fff2e7;
    }

    .rodpe-imagens{
        height: 50px;
        display: block;
        margin: 0 auto;
    }